@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.App {
  /* text-align: center; */
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #252a37;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.img-thumbnail {
  max-width: 150px;
}

.largeImage {
  max-width: 100%;
  height: auto;
}

.login-form {
  margin: 5% 20%;
  width: 60%;
}

.button {
  font-family: 'Varela Round', sans-serif;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #D3D3D3;
  font-family: 'Varela Round', sans-serif;
}
