@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.App {
  background: #e8e8e8;
}

.container-fluid {
  max-width: 100vw;
  background: #e8e8e8;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #252a37;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.largeImage {
  max-width: 100%;
  border: 1px;
}

.login-form {
  margin: 5% 20%;
  width: 60%;
}

.button {
  font-family: 'Varela Round', sans-serif;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #D3D3D3;
  font-family: 'Varela Round', sans-serif;
}

.img-list {
  background: #b8b8b8;
  overflow-y: scroll;
  max-height: 100vh;
}

.selected-image {
  padding: 10px;
}

.div.container-fluid.row {
  padding: 0px;
}
