@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card-img.card {
  border: 0px;
}

.largeImage {
  max-width: 100%;
  border-radius: 5px;
}

.login-form {
  margin: 5% 20%;
  width: 60%;
}

.button {
  font-family: 'Varela Round', sans-serif;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #ababab;
  font-family: 'Varela Round', sans-serif;
}

.img-list {
  background-color: rgba(0,0,0,.03);
  overflow-y: scroll;
  max-height: 100vh;
  padding-top: 10px;
}

.selected-image {
  padding: 10px;
}

.selected-image p {
  padding: 10%;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: gray;
}
